- hosts: localhost
  connection: local
  become: true
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: true

    - name: Copy nginx file over
        copy:
          src: nginx.conf
          dest: /etc/nginx/nginx.conf
        register: nginx_config

      - name: Restart nginx if needed
        service:
          name: nginx
          state: restarted
        when: nginx_config.changed == true

      - name: Display nginx configuration copy info
        debug:
          var: nginx_config

      - name: Fail task if paths are the same
        fail:
          msg: "Source and destination paths are the same"
        when: nginx_config.src == nginx_config.dest

      - name: Run task if paths are the same
        copy:
          src: nginx.conf
          dest: /etc/nginx/nginx.conf
        register: nginx_config
        when: nginx_config.src == nginx_config.dest
